
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui inverted header">
                AllDongles.com
            </h1>
            <h2>All the dongles you need to survive with your beautiful stupid new macbook with no ports</h2>
            {{> shareButtons }}
        </div>
    </div>
    <div class="ui text container container-email">
        <div class="row">
            <form class="ui huge form" action="https://formspree.io/supartest@gmail.com"
                  method="POST">
                <div class="field">
                    <label>Get emailed if/when better dongles come out</label>
                    <input type="email" placeholder="your@email.com" name="_replyto">
                </div>
                <input class="ui submit button primary" type="submit" value="Send">
            </form>
        </div>
    </div>
    <div class="ui vertical stripe segment container-dongles">
        <div class="ui middle aligned stackable four column grid">
            <div class="column item-block">
                <a href="http://amzn.to/2yfvQ2h" target="_blank">
                    <div class="eight wide column">
                        <h3 class="ui header">Usb-a (nubbin style)</h3>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/41dmfbSi02L._AC_US218_.jpg">
                    </div>
                </a>
            </div>

            <div class="column item-block">
                <a href="http://amzn.to/2x7WBp4" target="_blank">
                    <div class="eight wide column">
                        <h3 class="ui header">Usb-a (corded style)</h3>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/31R-xVZrN+L._AC_US218_.jpg">
                    </div>
                </a>
            </div>

            <div class="column item-block">
                <a href="http://amzn.to/2fs2hCR" target="_blank">
                    <div class="eight wide column">
                        <h3 class="ui header">Ethernet</h3>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/41-Yw0MVXlL._AC_US218_.jpg">
                    </div>
                </a>
            </div>

            <div class="column item-block">
                <a href="http://amzn.to/2jz1m7Y" target="_blank">
                    <div class="eight wide column">
                        <h3 class="ui header">HDMI</h3>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/31Mh7S1M5QL._AC_US218_.jpg">
                    </div>
                </a>
            </div>

            <div class="column item-block">
                <a href="http://amzn.to/2wxskhs" target="_blank">
                    <div class="eight wide column">
                        <h3 class="ui header">Mini displayport</h3>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/31vGpiO9SNL._AC_US218_.jpg">
                    </div>
                </a>
            </div>

            <div class="column item-block">
                <a href="http://amzn.to/2jzT5AI" target="_blank">
                    <div class="eight wide column">
                        <h3 class="ui header">Portable hub (wired)</h3>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/41W29m87FNL._AC_US218_.jpg">
                    </div>
                </a>
            </div>

            <div class="column item-block">
                <a href="http://amzn.to/2frvXA2" target="_blank">
                    <div class="eight wide column">
                        <h3 class="ui header">Portable hub (fixed)</h3>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51KZj805M7L._AC_US218_.jpg">
                    </div>
                </a>
            </div>

            <div class="column item-block">
                <a href="http://amzn.to/2fs8hvf" target="_blank">
                    <div class="eight wide column">
                        <h3 class="ui header">Hub (not portable)</h3>
                        <br />
                        (MACBOOK PRO ONLY)
                        <br />
            </div>

                    <img src="https://images-na.ssl-images-amazon.com/images/I/31Kk4Cm8aXL._AC_US218_.jpg">
                </div>
            </a>
            <p>
                Did we miss any?
                <a href="mailto:supartest@gmail.com?Subject=Dongle%20suggestion" target="_top">Email us!</a>
            </p>
        </div>
    </div>
</div>
